[build]
  command = "yarn add sharp --platform=linux --arch=x64 --ignore-scripts && yarn build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "18"

[[plugins]]
  package = "@netlify/plugin-nextjs"