@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-[#e9e1ea] text-[#262626] dark:bg-[#262626] dark:text-gray-50;
    @apply min-h-screen;
    @apply w-full;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}
